.product-card-container {
    font-family: 'Rubik', sans-serif;
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.product-card-container img {
    width: 100%;
}
.product-price {
    font-weight: 600;
}
@media all and (max-width: 500px) {
    .product-card-container {
        margin-left: 7%;
    }
    .product-card-container img {
        width: 80%;
    }
}