.shop-container-wrapper {
    min-height: 160vh;
    position: relative;
    left: 12%;
    width: 90%;
    z-index: 1;
    background: black;  
    padding-top: 6vh;
    position: relative;
}
.shop-container-wrapper h1{
    font-size: 2.5rem;
    font-family: 'Josefin Sans', sans-serif;
    width: 100%;
    color: #8b8b8b;
    text-align: center;
}
.shop-container{
    background: #fff;
    min-height: 160vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.shop-images {
    height: 600px;
    width: 100%;
    position: relative;
}
.shop-images img {
    width: 100%;
   
}
.arrow-left, .arrow-right {
    position: absolute;
    top: 200px;
    cursor: pointer;
    font-size: 5rem;
    background: transparent;
    transition: .4s;
    border: none;
}
.arrow-left {
    left: 1%;
}
.arrow-right {
    right: 1.5%;
}
.arrow-left:hover, .arrow-right:hover {
    color: #818181;
}
.shop-products-container {
    min-height: 110vh;
    width: 100%;
    background: #fff;
    padding: 0 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.shop-products-container a {
    text-decoration: none;
    color: black;
}
@media all and (max-width: 1300px) {
    .shop-images{
        display: none;
    }
}
@media all and (max-width: 950px) {
    .shop-products-container{
        flex-direction: column;
        padding: 0;
        gap: 20px;
        padding-bottom: 20px;
    }
 
}
